/*CSS */


/* Mobile */
 
.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding: 25px 0;
    background-color: white;
    box-shadow:  4px 3px 4px #ccc;
    overflow: hidden;
}

.nav-btnC {
    position: absolute;
    right: 15px;
    top: 10px;
 }

.hamburger{}

.header-logo{
    height: 75px;
    width: 75px;
    border: #ccc 1px solid;
    position: absolute;
    top: 10px;
    left: 15px;
}

.nav-btn,
.nav-btn a {} 

lo {

}


ul lo li {
     display: flex;
    flex-direction: column;
    list-style-image: none !important;
}

 li{
    list-style-image: none !important;
}



.banner-slideshow{
    position: relative;
    top: 100px;
    left: 0px;
    height: 600px;
    width: 100%;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.click-slide {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.click-slide,
.banner-slideshow,
.slide-1,
.slide-2,
.slide-3,
.slide-4 {
    height: 100%;
    width: 100%;
}


.prev-arrow,
.next-arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    border: #000 1px solid;
    overflow: hidden;
    cursor: pointer;
    z-index: 9;
    top: 45%;
    background-color: yellow;
}


.prev-arrow {
    left: 0px;
}
.next-arrow {
    right: 0px;
}

#home-section {}
#about-section {}
#resume-section {}
#portfolio-section {}
#contact-section {}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color: red;
}  

/*Tablet*/
@media (min-width: 768px){

}


/* Desktop */
 @media (min-width: 900px){
   
}