/*CSS */


/* Mobile */
 
.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding: 25px 0;
    background-color: white;
    box-shadow:  4px 3px 4px #ccc;
    overflow: hidden;
}

.nav-btnC {
    position: absolute;
    right: 15px;
    top: 10px;
    /* overflow: hidden; */

 }

.hamburger{}

.header-logo{
    height: 75px;
    width: 75px;
    border: #ccc 1px solid;
    position: absolute;
    top: 10px;
    left: 15px;
}

.nav-btn,
.nav-btn a {} 

lo {

}


ul lo li {
     display: flex;
    flex-direction: column;
    list-style-image: none !important;
}

 li{
    list-style-image: none !important;
}



.banner-slideshow{}

.click-slide {}

.click-slide,
.banner-slideshow,
.slide-1,
.slide-2,
.slide-3,
.slide-4 {}


.prev-arrow,
.next-arrow {}


.prev-arrow {}
.next-arrow {}

#home-section {}
#about-section {}
#resume-section {}
#portfolio-section {}
#contact-section {}

.footer {} 

/*Tablet*/
@media (min-width: 768px){

}


/* Desktop */
@media (min-width: 900px){
   
}